<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>PL CALCULE</title>
	</head>
	<body>
		<form th:action="@{/pl-calc-exec}" th:object="${plCalcForm}" method="post">
			<p>
				<input type="text" th:field="*{storeMoney}"/>
				+
				<input type="text" th:field="*{income}"/>
				=
				<input type="text" th:field="*{totalMoney}"/>
			</p>
			<br>
			<table>
				<tr>
					<td>
						<input type="text" th:field="*{totalCardCost}"/>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" th:field="*{auCardCost}"/>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" th:field="*{seCardCost}"/>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" th:field="*{anCardCost}"/>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>