<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>PL CALCULE</title>
	</head>
	<body>
		<form th:action="@{/web/pl-calc-exec}" th:object="${plCalcForm}" method="post">
			<input type="submit" name="title_btn" value="title"/>
			<br>
			前月の貯金
			<input type="text" th:field="*{storeMoney}"/>
			収入
			<input type="text" th:field="*{income}"/>
			<br>
			合計(計算結果をラベルにしたい)
			<input type="text" th:field="*{totalMoney}"/>
			
			<br>
			<br>
			<table>
				<tr>
					<td>
						カード合計	(計算結果をラベルにしたい)
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" th:field="*{totalCardCost}"/>
					</td>
				</tr>
				<tr>
					<td>
						aupay	
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" th:field="*{auCardCost}"/>
					</td>
				</tr>
				<tr>
					<td>
						sezon
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" th:field="*{seCardCost}"/>
					</td>
				</tr>
				<tr>
					<td>
						ana	
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" th:field="*{anCardCost}"/>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>